<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FB Challenge</title>
</head>
<body>

<h1>Howdy World!</h1>



<script type="text/javascript" src="bc/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bc/tether/dist/js/tether.js"></script>
<script type="text/javascript" src="bc/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bc/underscore/underscore.js"></script>
<script type="text/javascript" src="../public/main.js"></script>

</body>
</html>